* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 2em;
  line-height: 50px;
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  display: table;
}

.header {
  height: 50px;
  background: rgb(172, 222, 247);
  border-bottom: 3px solid rgb(91, 88, 255);;
  display: table-row;
  display: none;
}

.board {
  height: 100%;
  background: rgb(86, 186, 105);
  overflow: hidden;
  position: relative;
}

.tile {
  background-color: beige;
  background-image: url('../img/tileset01.svg');
  background-size: 600% 600%;
  border-radius: 10px;
  border-bottom: 5px solid gray;
  border-right: 5px solid gray;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.tile:hover {
  background-color: bisque;
}

.selected {
  background-color: lightblue;
}
