* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 2em;
  line-height: 50px;
  margin-left: 20px;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  display: table;
}

.header {
  height: 50px;
  background: rgb(172, 222, 247);
  border-bottom: 3px solid rgb(91, 88, 255);
}

.header * {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  float: left;
}

.open-menu {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.board {
  width: 100%;
  background: rgb(86, 186, 105);
  overflow: hidden;
  position: absolute;
  top: 50px;
  bottom: 0;
}

.menu {
  max-width: 500px;
  margin: auto;
  display: none;
  background-color: white;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 10px;
  margin-top: 10px;
  border-left: 6px solid brown;
  border-right: 6px solid brown;
  border-radius: 6px;
}

.menu h1 {
  margin-left: 10px;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid gray;
}

.menu p {
  color: black;
  font-size: 20px;
  margin-left: 10px
}

.menu table {
  width: 100%;
  font-size: 1.5em;
  line-height: 50px;
  padding-right: 10px;
}

.menu select {
  height: 40px;
  width: 100%;
  margin-right: 10px;
  display: block;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.menu input[type=checkbox] {
  background-image: url('../img/checkstates.svg');
  background-size: 200% 100%;
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: red;
  display: block;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5px;

}

.menu input[type=checkbox]:checked {
  background-color: green;
  background-position: 100% 0;
}

.menu-exit {
  width: 30px;
  height: 30px;
  background-image: url('../img/checkstates.svg');
  background-size: 200% 100%;
  background-color: white;
  background-blend-mode: difference;
  opacity: 0.5;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.curtain {
  display: none;
  background: black;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.tile {
  background-color: beige;
  background-image: url('../img/tileset01.svg');
  background-size: 600% 600%;
  position: absolute;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  box-sizing: border-box;
}

.tile:hover {
  background-color: bisque;
}

.selected {
  background-color: lightblue;
}

.newGame {
  cursor: pointer;
  float: right;
}
